// spacing.scss
$spacing-min: 4; // 最小間距 (px)
$spacing-max: 80; // 最大間距 (px)
$spacing-step: 4; // 間距間隔

@for $i from $spacing-min through $spacing-max {
  @if ($i % $spacing-step == 0) {
    .m-#{$i} {
      margin: #{$i}px;
    }
    .mt-#{$i} {
      margin-top: #{$i}px;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
      margin-left: #{$i}px;
    }
    .mr-#{$i} {
      margin-right: #{$i}px;
    }
    .my-#{$i} {
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
    .mx-#{$i} {
      margin-left: #{$i}px;
      margin-right: #{$i}px;
    }

    .p-#{$i} {
      padding: #{$i}px;
    }
    .pt-#{$i} {
      padding-top: #{$i}px;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}px;
    }
    .pl-#{$i} {
      padding-left: #{$i}px;
    }
    .pr-#{$i} {
      padding-right: #{$i}px;
    }
    .py-#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
    .px-#{$i} {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }
  }
}
