.header {
  padding: 151px 0;
  background-image: url("/assets/images/2025-week1/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: disc;
}
